<div class="main portfolio">
  <div class="slideshow-container">
  <div class="jumbotron slideshow">
      <ul>
        <li class="slide"><img src="http://orig08.deviantart.net/6f75/f/2009/280/6/7/portofolio_layout_by_mst4gfx.png"></li>
        <li class="slide"><img src="http://www.lifeclever.com/wp-content/uploads/2007/04/portfolio_3.jpg"></li>
        <li class="slide"><img src="http://trisakumon.files.wordpress.com/2010/12/kotak-obat.jpg"></li>
      </ul>
    </div>
  </div>
<div class="container">
  <div class="row">
    <a class="col-md-6 project" href=#>
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
      </div>
      <div class="thumbnail">
        <img alt="p1" src="http://orig08.deviantart.net/6f75/f/2009/280/6/7/portofolio_layout_by_mst4gfx.png">
      </div>
      <h3>p1 thingy</h3>
      <p>Thing and thing thingy</p>
    </a>
    <a class="col-md-6 project" href=#>
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
      </div>
      <div class="thumbnail">
        <img alt="p2" src="http://orig08.deviantart.net/6f75/f/2009/280/6/7/portofolio_layout_by_mst4gfx.png">
      </div>
      <h3>p2 thingy</h3>
      <p>Thing and thing thingy</p>
    </a>
  </div>
  <div class="row">
    <a class="col-md-6 project" href=#>
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
      </div>
      <div class="thumbnail">
        <img alt="p3" src="http://orig08.deviantart.net/6f75/f/2009/280/6/7/portofolio_layout_by_mst4gfx.png">
      </div>
      <h3>p3 thingy</h3>
      <p>Thing and thing thingy</p>
    </a>
    <a class="col-md-6 project" href=#>
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
      </div>
      <div class="thumbnail">
        <img alt="p4" src="http://orig08.deviantart.net/6f75/f/2009/280/6/7/portofolio_layout_by_mst4gfx.png">
      </div>
      <h3>p4 thingy</h3>
      <p>Thing and thing thingy</p>
    </a>
  </div>
</div>
         
</div>