<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li>welcome</li>
          <li>portfolio</li>
          <li>images</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="name col-xs-4">
        <h1>jerry goldshine</h1>
      </div>
    </div>
  </div>
</div>
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>me name <span class="highlight">jerry</span>.  me like pictures.</h2>
      <a class="btn right" href="portfolio">view me work</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
    <div class="soso col-xs-8">
      <ul>
        <li><a href="http://github.com/jaredeinstein">gits</a></li>
        <li><a href="http://twitter.com/jaredeinstein">twits</a></li>
      </ul>
    </div>
    <div class="copyright col-xs-4">
      <p>© 2015 Jerry Goldshine</p>
    </div>
  </div>
  </div>
</div>