<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>me name <span class="highlight">jerry</span>. me like pictures.</h2>
      <%= link_to "me work", portfolio_path, class: "btn right" %>
    </div>
  </div>
</div>
